@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #04152d;
  --pink: #da2f68;
  --bg-secondary: #020c1b;
  --black-light: #173d77;
  --secondary-black: rgba(0, 0, 0, 0.25);
  --orange: #f89e00;
}

/* menu  start */
.horizontal-menu li ul {
  display: none;
}
.horizontal-menu li:hover ul {
  display: block;
}

header li a:hover {
  color: var(--pink);
}

header li a.active {
  color: var(--pink);
}

/* menu end  */

@layer components {
  .max-w-container {
    max-width: 1376px;
    margin-left: auto;
    margin-right: auto;
  }
  .gradient-color {
    background: var(--gradient);
    background-image: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
  }
}

/* movie play btn  */
.play-movie-btn:hover > svg > circle {
  stroke: var(--pink);
  stroke-dasharray: 1300;
  stroke-dashoffset: 650;
  transition: all 0.5s ease-in-out;
}
.play-movie-btn:hover > svg > polygon {
  stroke: var(--pink);
  stroke-dasharray: 480;
  stroke-dashoffset: 240;
  transform: translateY(0);
  transition: all 0.7s ease-in-out;
}
.play-movie-btn:hover > span {
  color: var(--pink);

  transition: all 0.7s ease-in-out;
}
